@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
}
*{
margin:0;
padding:0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}

.pagetitle {
    text-align: center;
    background-color: #1ab26b;
}

.titleboxleft {
    background-color: blue;
    text-align: center;
    width:50%;
    height:50%;
    float:left;

}
.titleboxright {
    width:50%;
    height: 50%;
    float:left;
    background-color: red;
}

.projectbanner {
    background-color: aqua;
    text-align:center;
}

.projectinfo {
    background-color: aquamarine;
}

.blockdumwebsiteleftimg {
    background-color: blue;
    text-align: center;
    width:20%;
    height:100%;
    float:left;

}
.blockdumwebsiterightinfo {
    width:80%;
    height: 50%;
    float:left;
    background-color: red;
}

.stickyeditorleftimg {
    background-color: blue;
    text-align: center;
    width:20%;
    height:100%;
    float:left;

}
.stickyeditorrightinfo {
    width:80%;
    height: 50%;
    float:left;
    background-color: red;
}

.boxnwhiskerleftimg {
    background-color: blue;
    text-align: center;
    width:20%;
    height:100%;
    float:left;

}
.boxnwhiskerrightinfo {
    width:80%;
    height: 50%;
    float:left;
    background-color: red;
}

.endproject {
    background-color: red;
}
/*header*/
header{
    width: 100vw;
    height: 100px;
    border-bottom: solid 4px #dadce0;
    font-family: 'Poppins';
    background-color: #ffffff;
}

header .inner{
    width: 88%; /* This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    display: table;
    height: 100%;
    float: left;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 50px;
    margin-top: 5px; /* Optical alignment of the logo */
}

header nav{
    float: right;
    height: 100%;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a{
    color: #101010;
}

header nav .button{
    background-color: #1ab26b; /* This HEX is the color of the button */
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .button:hover{
    filter: brightness(1.05);
}

/*footer*/

.heading{
font-size: 30px;
}
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}


@media(max-width: 750px){
    .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 400px){
    .footer-col{
    width: 100%;
}
}